<ion-header>
    <ion-navbar color="secondary">
        <ion-title>{{"JOURNEY.JOURNEYS" | translate: journey}}</ion-title>
    </ion-navbar>
    <load-bar></load-bar>
</ion-header>

<ion-content>
    <ion-list>
        <button ion-item *ngFor="let user_journey of user_journeys" (click)="goToUserJourney(user_journey)">
            <div item-content>{{"JOURNEY.FROM" | translate: journey}} {{user_journey.created_at}}</div>
        </button>
    </ion-list>

</ion-content>
