page-journeys {

  button[ion-item] {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .input-wrapper {
      margin-right: 16px !important;
      margin-left: 16px !important;
    }
  }

}
