page-point {

  .point-background {
    background-image: url('../assets/imgs/texture.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  ion-footer {
    height: auto;
    background-color: white !important;
  }

  ion-footer::before {
    background-image: none !important;
  }

  textarea {
    padding: 5px !important;
    border-radius: 5px !important;
    margin: 5px !important;
    background-color: color($colors, light) !important;
  }

  ion-icon {
    font-size: 25px;
  }

  .star-row {
    background-color: color($colors, secondary);
  }

  .star-icon {
    margin: auto 5px;
    padding: 0 !important;
    display: inline-block;
    color: black;
  }

  .content-wrapper {
    background-color: #f9f4ce;
    padding: 7px;
    margin: 7px;
    border-radius: 5px;
  }

  .image-wrapper {
    background-color: #f9f4ce;
    padding: 7px;
    margin: 7px;
    border-radius: 5px;
    display: inline-block;
  }

  .content-image {
    height: 20vh;
  }

  .content-video {
    width: 100%;
    max-height: 25vh;
    border: 1px solid grey;
  }

  .fake-video-wrapper {
    background-color: #f9f4ce;
    padding: 5vh 7px 7px 7px;
    margin: 7px;
    border-radius: 5px;
    width: calc(100% - 14px);
    height: 25vh;
    text-align: center;
  }

  audio {
    width: 100%;
  }

  .absoluteIcon
  {
    position: absolute;
    left: 5px;
    top:5px;
    z-index: 100;
  }
}
