<ion-header>

    <ion-navbar color="secondary" (click)="goBack()">
        <ion-title>{{"POINT.WHERE" | translate}}</ion-title>
        <load-bar></load-bar>
    </ion-navbar>

</ion-header>
<ion-content class="point-background" *ngIf="point">

    <ion-item no-lines [ngStyle]="{'background-color': point.color}">
        {{point.title}}
    </ion-item>

    <div class="div90" text-left *ngIf="touchpoint && touchpoint.content && touchpoint.content.length">
        <div *ngFor="let item of touchpoint.content let i=index">
            <div *ngIf="item.type === 'text'">
                <div ion-item no-lines class="content-wrapper">
                    {{item.content}}
                    <div item-end>
                        <ion-icon name="ios-trash-outline" color="success" *ngIf="point.user_id" (click)="deleteTouchpointContent(touchpoint.content,i)"></ion-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="item.type === 'image'">
                <div class="image-wrapper">
                    <img [src]="item.fullUrl" class="content-image" *ngIf="item.fullUrl">
                    <div item-end>
                        <ion-icon name="ios-trash-outline" color="success" *ngIf="point.user_id" (click)="deleteTouchpointContent(touchpoint.content,i)"></ion-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="item.type === 'video'">
                <div class="content-wrapper">
                    <video controls controlsList="nodownload" src="{{item.fullUrl}}" class="content-video"></video>
                    <div item-end>
                        <ion-icon name="ios-trash-outline" color="success" *ngIf="point.user_id" (click)="deleteTouchpointContent(touchpoint.content,i)"></ion-icon>
                    </div>
                </div>
            </div>
            <div *ngIf="item.type === 'audio'">
                <div class="content-wrapper">
                    <audio controls src="{{item.fullUrl}}" controlsList="nodownload"></audio>
                    <div item-end>
                        <ion-icon name="ios-trash-outline" color="success" *ngIf="point.user_id" (click)="deleteTouchpointContent(touchpoint.content,i)"></ion-icon>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="div90" text-left *ngIf="uploading">
        <div class="fake-video-wrapper">
            <ion-spinner name="ios"></ion-spinner>
            <div ion-text color="primary" padding-top>{{"POINT.UPLOADING" | translate}}: {{progress}}%</div>
        </div>
    </div>

</ion-content>
<ion-footer no-padding>
    <ion-row align-items-center class="star-row">
        <ion-col col-12 text-center>
            <div ion-button clear *ngFor="let star of stars, let i = index" class="star-icon">
                <ion-icon (click)="rate(i)" *ngIf="!star" name="star-outline"></ion-icon>
                <ion-icon (click)="rate(i)" *ngIf="star" name="star"></ion-icon>
            </div>

        </ion-col>
    </ion-row>
    <ion-row align-items-center text-center *ngIf="!recording">
        <ion-col col-1 class="custom-padding-left">
            <ion-icon name="videocam" color="primary" add-video (targetVideo)="sendVideo($event)"></ion-icon>
        </ion-col>
        <ion-col col-1>
            <ion-icon name="mic" color="primary" (click)="record()"></ion-icon>
        </ion-col>
        <ion-col col-1>
            <ion-icon name="camera" color="primary" add-picture (targetImage)="sendPicture($event)"></ion-icon>
        </ion-col>
        <ion-col col-7 no-padding>
            <ion-textarea (input)="autoSize();" placeholder="{{'POINT.DOCUMENT' | translate}}" [(ngModel)]="text"></ion-textarea>
        </ion-col>
        <ion-col col-2 no-padding>
            <button ion-button no-border no-padding clear small color="primary" (click)="send()">{{"POINT.SUBMIT" | translate}}</button>
        </ion-col>
    </ion-row>
    <ion-row align-items-center text-center *ngIf="recording">
        <ion-col col-12>
            <button ion-button block (click)="stopRecord()">{{"POINT.RECORDING" | translate}}</button>
        </ion-col>
    </ion-row>
</ion-footer>
