<ion-header>
    <ion-navbar color="secondary">
        <ion-title>{{"LOGIN.TITLE" | translate}}</ion-title>
    </ion-navbar>
</ion-header>

<ion-content>

    <div class="div90">

        <form [formGroup]="form" (submit)="submit()">

            <ion-item>
                <ion-label color="secondary" stacked>{{"LOGIN.EMAIL" | translate}}</ion-label>
                <ion-input type="email" formControlName="email"></ion-input>
            </ion-item>

            <ion-item>
                <ion-label color="secondary" stacked>{{"LOGIN.PASSWORD" | translate}}</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>

            <button margin-top ion-button color="primary" block [disabled]="form.invalid" type="submit" class="login-button">{{"LOGIN.LOGIN" | translate}}</button>

        </form>

    </div>

    <div class="login-image"><img src="assets/imgs/jeep.jpg"></div>
</ion-content>
