page-points {

  ion-item {
    padding-left: 0 !important;
    padding-right: 0 !important;

    .input-wrapper {
      margin-right: 16px !important;
      margin-left: 16px !important;
    }
  }

  .new-touchpoint {
    padding: 13px;
    border-bottom: 1px solid grey;

    input {
      width: 100% !important;
      border: none !important;
    }
  }

  .not-custom-point ion-reorder  {
    display: none !important;
  }

  .add-icon {
    font-size: 25px;
    color: color($colors, primary);
  }

  .icon-rtl {
    transform: rotate(270deg);
  }
}
