<ion-header>

    <ion-navbar color="secondary">
        <ion-title>{{"PROFILE.PROFILE" | translate}}</ion-title>
    </ion-navbar>

</ion-header>

<ion-content>

    <div class="upper-div">
        <div class="edit-avatar">
            <button ion-button clear icon-only add-picture (targetImage)="sendPicture($event)">
                <ion-icon name="create"></ion-icon>
            </button>
        </div>
        <div class="delete-avatar" *ngIf="user && user.avatar">
            <button ion-button clear icon-only (click)="showDeletePopup()">
                <ion-icon name="close"></ion-icon>
            </button>
        </div>
        <div class="avatar" *ngIf="user && !user.avatar" background-image [source]="'assets/imgs/avatar.jpg'"></div>
        <div class="avatar" *ngIf="user && user.avatar" background-image [source]="user.avatar"></div>
    </div>

    <div class="div90 lower-div">
        <form [formGroup]="form" (submit)="submit()">

            <ion-list>
                <ion-item no-padding>
                    <ion-label fixed>{{"PROFILE.NAME" | translate}}</ion-label>
                    <ion-input type="text" placeholder='{{"PROFILE.NAME" | translate}}' formControlName="name"></ion-input>
                </ion-item>

                <ion-item no-padding>
                    <ion-label fixed>{{"PROFILE.EMAIL" | translate}}</ion-label>
                    <ion-input type="email" placeholder='{{"PROFILE.EMAIL" | translate}}' formControlName="email"></ion-input>
                </ion-item>

                <ion-item no-padding>
                    <ion-label fixed>{{"PROFILE.PHONE" | translate}}</ion-label>
                    <ion-input type="tel" placeholder='{{"PROFILE.PHONE" | translate}}' formControlName="phone"></ion-input>
                </ion-item>

                <button margin-top ion-button color="primary" block [disabled]="form.invalid" type="submit">{{"PROFILE.UPDATE" | translate}}</button>

            </ion-list>

        </form>

    </div>

</ion-content>
