page-profile {
  .upper-div {
    width: 100%;
    height: 20vh;
    background-color: color($colors, secondary);
    position: relative;
  }

  .avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    position: absolute;
    top: calc(20vh - 40px);
    left: calc(50% - 40px);
    right: calc(50% - 40px);
  }

  .edit-avatar {
    position: absolute;
    top: calc(20vh - 70px);
    left: calc(50% - 70px);
    ion-icon {
      font-size: 25px;
      color: white;
    }
  }

  .delete-avatar {
    position: absolute;
    top: calc(20vh - 70px);
    right: calc(50% - 70px);
    ion-icon {
      font-size: 25px;
      color: white;
    }
  }

  .lower-div {
    margin-top: 50px;
  }

  ion-item[fixed] {
    width: 20%;
  }
}
