<ion-content>

    <ion-row margin align-items-center>
        <ion-col col-9 class="font18" no-padding>
            {{"JOURNEY.START" | translate: journey}}
        </ion-col>
        <ion-col col-3 no-padding>
            <button ion-button color="primary" (click)="startJourney()">{{"JOURNEY.GO" | translate}}</button>
        </ion-col>
    </ion-row>

    <div class="journey-image" background-image [source]="journey.image"></div>

</ion-content>
