<ion-content (click)="viewCtrl.dismiss()">

    <div class="div90 content-wrapper" *ngIf="hasHistory">
        <div *ngFor="let journey of journeys" [ngClass]="{'journey-item-rtl' : language === 'he', 'journey-item-ltr' : language === 'en'}">
            <div [ngClass]="{'new-journey-rtl' : language === 'he', 'new-journey-ltr' : language === 'en'}" (click)="goToJourney(journey); $event.stopPropagation();">
                {{journey.title}}
            </div>
            <div [ngClass]="{'journey-gap-rtl' : language === 'he', 'journey-gap-ltr' : language === 'en'}"></div>
            <div [ngClass]="{'journey-history-rtl' : language === 'he', 'journey-history-ltr' : language === 'en'}">
                <button no-margin ion-button *ngIf="journey.user_journeys && journey.user_journeys.length" (click)="goToJourneys(journey); $event.stopPropagation();">{{"POINT.EDIT" | translate}}</button>
            </div>
        </div>
    </div>

    <div class="div90 content-wrapper" *ngIf="!hasHistory">
        <div *ngFor="let journey of journeys" [ngClass]="{'journey-item-rtl' : language === 'he', 'journey-item-ltr' : language === 'en'}">
            <div [ngClass]="{'new-journey-rtl' : language === 'he', 'new-journey-ltr' : language === 'en'}" style="width: 100%;"  (click)="goToJourney(journey); $event.stopPropagation();">
                {{journey.title}}
            </div>
        </div>
    </div>

</ion-content>
