page-popup {

  ion-content {
    background-color: rgba(0,0,0,0.5) !important;
  }

  .content-wrapper {
    text-align: left;
    margin-top: 20vh;
  }

  .journey-item-rtl {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: right;
  }

  .new-journey-rtl {
    background-color: white;
    width: 60%;
    height: 48px;
    line-height: 48px;
    float: right;
    padding: 0 5px;
    border-bottom: 1px solid lightgrey;
  }

  .journey-history-rtl {
    background-color: white;
    width: 30%;
    height: 48px;
    line-height: 48px;
    float: right;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    button {
      margin-top: -10px;
    }
  }

  .journey-gap-rtl {
    width: 10%;
    height: 48px;
    line-height: 48px;
    float: right;
    background-color: transparent !important;
  }

  .journey-item-ltr {
    width: 100%;
    height: 48px;
    line-height: 48px;
    text-align: left;
  }

  .new-journey-ltr {
    background-color: white;
    width: 60%;
    height: 48px;
    line-height: 48px;
    float: left;
    padding: 0 5px;
    border-bottom: 1px solid lightgrey;
  }

  .journey-history-ltr {
    background-color: white;
    width: 30%;
    height: 48px;
    line-height: 48px;
    float: left;
    text-align: center;
    border-bottom: 1px solid lightgrey;
    button {
      margin-top: -10px;
    }
  }

  .journey-gap-ltr {
    width: 10%;
    height: 48px;
    line-height: 48px;
    float: left;
    background-color: transparent !important;
  }
}
