<ion-header>
    <ion-navbar color="secondary">
        <ion-buttons left>
            <button ion-button menuToggle>
                <ion-icon name="menu"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>{{"HOME.START" | translate}}</ion-title>
        <load-bar></load-bar>
    </ion-navbar>
</ion-header>

<ion-content class="home-background">

    <div class="div90">

        <div class="home-avatar" *ngIf="!user || !user.avatar" (click)="goToProfile()" background-image [source]="'assets/imgs/avatar.jpg'"></div>
        <div class="home-avatar" *ngIf="user && user.avatar" (click)="goToProfile()" background-image [source]="user.avatar"></div>

        <div margin-vertical class="weight500">{{"HOME.NEXT" | translate}}</div>

        <div class="horizontal-line"></div>

        <div class="fake-select" (click)="showPopup()">{{"HOME.CHOOSE" | translate}}</div>

    </div>

</ion-content>
