page-home {

  .home-background {
    background-image: url('../assets/imgs/home_background.jpg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .home-avatar {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    margin-top: 16px;
  }

  .horizontal-line {
    width: 100%;
    height: 1px;
    background-color: color($colors, primary);
  }

  .fake-select {
    background-color: white;
    padding: 13px;
    margin-top: 10px;
  }
}
